* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Open Sans";
}





.main-container {
    padding-top: 10%;
    margin: 0 auto;
    width: 90%;
}


.logo {
    width: 40%;
}

.mid-part {
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.image {
    width: 93%;
    padding: 40px 0;
}

.text-container {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-container {
    color: white;
    font-family: "Poppins";
    font-size: 0.8em;
}

.paragraph {
    color: white;
    font-size: 1.1em;
    padding: 5% 0;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 195px;
    height: 50px;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    border: 1px solid blue;
}

.social-networks {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

ion-icon {
    color: white;
    padding: 0 5px;
}

@media screen and (min-width:800px) {
body {
    display: flex;
    align-items: center;
    background-image: url(../images/bg-desktop.svg);
}


.logo {
    padding-bottom: 4%;
    width: 16%;
}

.main-container {
    padding: 0;
    flex-direction: column;
}

.mid-part {
    flex-direction: row;
    width: 100%;
}

.image-container {
    width: 50%;
    min-width: 648px;
}

.image {
    padding: 0;
    width: 100%;
    max-width: 648px;
    max-height: 462px;
}



.text-container {
    width: 50%;
    text-align: left;
    padding: 0 7% 2% 7%;
}

.titulo-container {
    font-size: 1.2em;
}

.paragraph {
    font-size: 1em;
    padding: 10% 0;
}

.button-container {
    justify-content: left;
}

.button {
    width: 200px;
    height: 60px;
}

.social-networks {
    padding: 0 7% 0 0;
    width: 100%;
    font-size: 1em;
    justify-content: flex-end;
}


ion-icon {
    font-size: 2em;
    padding: 0 10px;
}


ion-icon:active {
color: hsl(300, 69%, 71%);
}

.button:active {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

ion-icon:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}
}
